body{
	padding: 0;
	margin: 100px;
    height: 100vh;
}
/*css section login*/



.navbar .login a{
	color: #333 !important;
	font-size: 0.6em;
	font-weight: 900;
	margin-left: 1em;
	text-transform: capitalize;

	}
.navbar .login a:hover{
	color: #333 !important;
	
}

/*css navigation*/
.navbar{
    padding-left: 50px ;
	border-bottom: solid 1px #333 ;
	display: flex;
	justify-content: center;
	}
.navbar a{
	
	font-weight: bold;
	color: #333 !important;
	font-family: sans-serif, roboto;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 200%;
}
.navbar a span{
	color: #59c6ff;
	font-weight: bold;
}
.navbar .navbar-nav{
	float: none;
	vertical-align: top;
	padding-right: 100px;
}
.navbar .navbar-collapse{
	text-align: center;
	}

.navbar li a{
	font-size: 0.8em;
	color: #59c6ff !important;
}
.navbar-nav li a:hover, .navbar-nav.active a{
	color: #fff !important;
	background-color: #59c6ff !important;
	border-radius: 30px;

}
.navbar-toggler{
 border-style: none;
}


/*caroussel*/

#moncarousel{
	width: 100%;
	height: auto;
	}
	
.carousel-item img{
	margin-top: 20px;
	margin-bottom: 10px;
	}
	


/*section description*/

.block-description{
    height: 250px;
    width: auto;
    background-color: #f3f3f3;
    color: #333;
	text-align: center;
	padding-top: 50px;
	box-shadow: 1px 1px 10px #333;
	margin-top: 10px;
}
.block-description h2{
	color: #59c6ff;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: bold;
}

.block-description p{
	font-size: 1em;
}
.principale-block{
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	align-items:center;
	justify-content: space-around;
    height: 360px; 	
}
.principale-block h3{
	font-size: 125%;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: bold;
	padding-top: 5px;
	color: #59c6ff;
}
.block_secondaire{
	height: auto;
	width: 450px;
	text-align: center;
	border: solid 1px #333;
	border-radius: 15px;
	box-shadow: 3px 3px 10px #333;
	padding: 20px 20px 20px 20px;
		
}
.block_secondaire li{
	list-style-type:none;
	text-align: left;
	margin-left: 50px;
	} 

.block_footer{
	height: 200px;
	background-color: #fff;
	border-top: solid 1px #333 ;
	padding-left: 50px;
	padding-top: 10px;
}

.block_menu h2{
	color: #59c6ff !important;
	font-size: 1.5em;
	font-weight: bold;

}
.social_network{
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;

}
.social_network img{
	margin-right: 10px;
}