body{
	padding: 0;
	margin: 0;
    height: 100vh;
}
/*css section login*/



.navbar .login a{
	color: #333 !important;
	font-size: 0.6em;
	font-weight: 900;
	margin-left: 1em;
	text-transform: capitalize;
	}
.navbar .login a:hover{
	color: #333 !important;
	
}

/*css navigation*/
.navbar{
    padding-left: 50px ;
	border-bottom: solid 1px #333 ;
	display: flex;
	justify-content: center;
	}
.navbar a{
	
	font-weight: bold;
	color: #333 !important;
	font-family: sans-serif, roboto;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 200%;
}
.navbar a span{
	color: #59c6ff;
	font-weight: bold;
}
.navbar .navbar-nav{
	float: none;
	vertical-align: top;
	padding-right: 100px;
}
.navbar .navbar-collapse{
	text-align: center;
	}

.navbar li a{
	font-size: 0.8em;
	color: #59c6ff !important;
}
.navbar-nav li a:hover, .navbar-nav.active a{
	color: #fff !important;
	background-color: #59c6ff !important;
	border-radius: 30px;

}
.navbar-toggler{
 border-style: none;
}

/*caroussel*/

#moncarousel{
	width: 60%;
	margin: 0 auto;
	margin-top:50px;
	margin-bottom: 20px;
	}
	
.carousel-item img{
	width:100%;
	height: auto;
	}
	
.carousel-caption{
	margin-bottom: 10%;
}

.carousel-caption h3{
    font-size: 2.5em;
    font-weight:bold;
    text-transform: uppercase;
}

.carousel-caption p{
	font-size: 1.5em;

}

.carousel-caption .btn{
	text-transform: uppercase;
	border: solid  5px #fff;
	padding: 15px 25px;
	color: #fff;
	font-weight:bold;
}

.carousel-caption .btn:hover{
	background-color: #59c6ff;
	text-decoration: none;
}

/*section description*/
.block-description{
    height: 250%;
    width: auto;
    background-color: #f3f3f3;
    color: #333;
    text-align: center;
}
.block-description p{
	font-size: 1em;
}
.caption-block{
	display: flexbox;
	
}
.caption-block h3{
	font-size: 100%;
	text-transform: uppercase;
	font-weight: bold;
}